*,
*::before,
*::after{
    box-sizing: border-box;
}

:root{
    --ff-primary: 'source san pro sans-serif';
    --ff-secondary: 'source code pro monospace';
    
    --fw-reg: 300;
    --fw-bold: 900;
    
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16eobd
    --fs-h1: 3rems;
    --fs-h2: 2.25rems;
    --fs-h3: 1.25rems
    --fs-body: 1rems 
}
@media (min-width: 800px ) {
    :root{
        --fs-h1:4.5rems;
        --fs-h2: 3.75rems;
        --fs-h3:1.5rems;
        --fs-body: 1.125rems;
    }
}
 
body{ 
    background: var(--clr-light);
    color: var(--clr-dark);
    font-family: 'Roboto', sans-serif;
    font-size: var(--fs-body);
    line-height: 1.6;
}

img {
    display: flex;
    justify-content: center;
    max-width: 100%;
}


h1,
h2,
h3{
    line-height: 1.1;
    margin: 0;
}

h1 { font-size: var(--fs-h1);}
h2 { font-size: var(--fs-h2);}
h3 { font-size: var(--fs-h3);}


.Logo{
    display: inline-flex;
    width: 100%;

}

#header_div{ 
    display: inline-flex;
    background-color: cornflowerblue;
    width: 100%;

}
 
.nav__list{
    display: inline-flex;
    list-style-type: none;
    justify-content: space-around;
}

#main_img{
    flex: 10%;
    height:100px;
    width:100px; 
}


.nav{
    flex: 90%;
    text-align: right;
}

.nav__item{
   margin: 10px;
}

.section__title{
    display: flex;
    justify-content: center;
    background-color: cornflowerblue;
}

.portfolio__item{
    display: grid;
    background-color: cornflowerblue;
    display: flex;
    
  
}
.title{
    background-color: cornflowerblue;
}

.h2{
    background-color: cornflowerblue;
}

.work{
    background-color: cornflowerblue;

}
.footer{
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
}
/* fix the contact meand make sure it has a better layout */
.contact__me{
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    align-content: space-between;
    flex-direction: column-reverse;

}