*,
*::before,
*::after{
    box-sizing: border-box;
}

:root{
    --ff-primary: 'source san pro',sans-serif;
    --ff-secondary 'source code pro' monospace;
    
    --fw-reg: 300;
    --fw-bold: 900;
    
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16eobd
    --fs-h1: 3rems;
    --fs-h2: 2.25rems;
    --fs-h3: 1.25rems
    --fs-body: 1rems 
}
@media (min-width: 800px ) {
    :root{
        --fs-h1:4.5rems;
        --fs-h2: 3.75rems;
        --fs-h3:1.5rems;
        --fs-body: 1.125rems;
    }
}
 
body{ 
    background: var(--clr-light);
    color: var(--clr-dark);
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

img {
    display: block;
    max-width: 100%;
}


h1,
h2,
h3,{
    line-hight: 1.1;
    margin: 0;
}

h1 { font-size: var(--fs-h1);}
h2 { font-size: var(--fs-h2);}
h3 { font-size: var(--fs-h3);}










